.homePageTitle {
    color: lightgray !important;
    font-size: 4em !important;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
}

.movieCard.ui.card {
    margin-left: 5%;
    margin-right: 5%;
    height: 290px;
}
.movieCard.ui.card>.ui.image {
    height: 100%;
}
.recommendText {
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
